<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<filter>
    	<filter-name>serialFetchFilter</filter-name>
    	<filter-class>
	    	org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
	    </filter-class>
    	<init-param>
      		<param-name>resteasy.scan</param-name>
      		<param-value>true</param-value>
    	</init-param>
  	</filter>
  	<filter-mapping>
    	<filter-name>serialFetchFilter</filter-name>
    		<url-pattern>/serialFetchRS/*</url-pattern>
    		<url-pattern>/api-docs/*</url-pattern>
  	</filter-mapping>
  	<filter>
    	<filter-name>DispatchFilter</filter-name>
    	<filter-class>
	    	org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
	    </filter-class>
    	<init-param>
      		<param-name>resteasy.scan</param-name>
      		<param-value>true</param-value>
    	</init-param>
  	</filter>
  	<filter-mapping>
    	<filter-name>DispatchFilter</filter-name>
    		<url-pattern>/dispatchserialNumberRS/*</url-pattern>
    		<url-pattern>/api-docs/*</url-pattern>
  	</filter-mapping>
  	<filter>
    	<filter-name>swapUpdateFilter</filter-name>
    	<filter-class>
	    	org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
	    </filter-class>
    	<init-param>
      		<param-name>resteasy.scan</param-name>
      		<param-value>true</param-value>
    	</init-param>
  	</filter>
  	<filter-mapping>
    	<filter-name>swapUpdateFilter</filter-name>
    		<url-pattern>/swapUpdateRS/*</url-pattern>
    		<url-pattern>/api-docs/*</url-pattern>
  	</filter-mapping>
  	<filter>
    	<filter-name>sfFilter</filter-name>
    	<filter-class>
	    	org.jboss.resteasy.plugins.server.servlet.FilterDispatcher
	    </filter-class>
    	<init-param>
      		<param-name>resteasy.scan</param-name>
      		<param-value>true</param-value>
    	</init-param>
  	</filter>
  	<filter-mapping>
    	<filter-name>sfFilter</filter-name>
    		<url-pattern>/successFailureRS/*</url-pattern>
    		<url-pattern>/api-docs/*</url-pattern>
  	</filter-mapping>
   	<context-param>
    	<param-name>resteasy.scan</param-name>
    	<param-value>true</param-value>
  	</context-param>
  	<servlet>
    	<servlet-name>SwaggerServlet</servlet-name>
    	<servlet-class>com.mot.upd.pcba.docgen.SwaggerServlet</servlet-class>
    	<load-on-startup>2</load-on-startup>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>SwaggerServlet</servlet-name>
    	<url-pattern>/dummy/*</url-pattern>
  	</servlet-mapping>
  	<!-- Swagger Code End -->
</web-app>